.top{
    display: flex;
    align-items: center;
}

#logo{
    margin-left: 0;
    margin-right: auto;
}

#linklist{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(45,30,30);
    padding: 5px;
    margin-right: 0;
    margin-left: auto;
}

.link{
    color: rgb(64,190,170);
}

hr{
    width: 100%;
    color: rgb(40,30,30);
}

customselect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

td{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

form{
    display: inline;
}

#mealtable, #allergen{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#newsletter{
    border: none
}

.allergenlink{
    text-decoration: none;
}

.allergenlink:active{
    color: rgb(64,190,170);
}

ul{
    text-align: center;
    list-style-position: inside;
}

h1{
    text-align: left;
}

footer ul li{
    display:inline;
}

footer ul{
    text-align: center;
}

footer ul li:not(:last-of-type){
    padding-right: 20px;
    margin-right: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(64,190,170);
}

form td{
    border: none
}

.numbers{
    display: inline;
    padding: 50px;
}

#loremtext{
    padding: 5px;
    width: max-content;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

fieldset{
    border-radius: 20px;
}